:root {
  --color-fuente-oscuro: #0f172a;
  --color-primario: #2563eb;
  --color-secundario: #dbe2ef;
  --color-fondo: #f9f7f7;
  --fuente: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-fuente-oscuro);
  font-family: var(--fuente);
  font-size: 16px;
  background-color: var(--color-fondo);
  max-width: 1200px; /* Evita que en monitores gigantes se estire al infinito */
  margin: 0 auto; /* Centra todo el sitio en la pantalla */
  padding: 0 1.5rem;
}

/* TIPOGRAFÍA Y RITMO VERTICAL */
h1,
h2,
h3 {
  margin-bottom: 0.75rem; /* Empuja hacia abajo al párrafo o elemento siguiente */
}

p {
  margin-bottom: 1rem; /* Separa los párrafos entre sí */
  line-height: 1.5; /* Le da aire entre renglón y renglón al texto largo */
}

header {
  margin-bottom: 2.5rem; /* Despega el menú del inicio del contenido */
}

header nav ul {
  display: flex; /* ítems en fila horizontal */
  gap: 1.5rem; /* Separa los enlaces entre sí */
  list-style: none; /* Elimina los puntitos */
  padding: 0;
}

section {
  margin-bottom: 2.5rem; /* Separa cada sección temática de la siguiente */
}

/*
.grilla-tarjetas dice: "yo acomodo a mis hijos en fila, los envuelvo si no entran (flex-wrap: wrap) y dejo 1.5rem de espacio entre ellos (gap: 1.5rem)".
.tarjeta dice: "yo solo me preocupo por mi relleno, mis bordes y medir al menos 280px".

*/

.grilla-tarjeta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.tarjeta {
  border-radius: 10px;
  padding: 1.5rem;
  border: 1px solid var(--color-secundario); /* Borde moderno y sutil */
  background-color: #ffffff; /* Fondo blanco para que contraste con el fondo
  general */
  text-align: center;
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.banner-contacto {
  background-color: var(--color-secundario);
  color: var(--color-fuente-oscuro);
  border-radius: 10px;
  border: 1px solid var(--color-primario);
  padding: 1.5rem; /* Aire interno*/
  margin: 2rem 0; /* 2rem arriba/abajo, 0 a los costados */
}
